@import "../variables";
@import "../_mixin";

.pitch{
    width: 550px;
    height: 850px;
    margin: auto;
    @include container(center, center);
    position: relative;
    background-color:#539A46;
    z-index: -1;
}

.horizontal-lines {
    width: 530px;
    height: 830px;
    border: $horizontal;
    @include container (center, unset);
    flex-direction: column;
    z-index: 1;
}

.in-goal-area-up{
    height: 10%;
    border-bottom: $horizontal;
    @include container (center, unset);
}

.posts-up{
    margin-top: -2%;
    height: 115%;
    width: 50px;
    border-right: $posts;
    border-left: $posts;
    @include container(unset, center);
}

.crossbar{
    width: 100%;
    border-top: $posts;
}

.five-yard-up{
    height: 5%;
    border-bottom: $vertical;
}

.tt-up{
    height: 15%;
    border-bottom: $horizontal;
    @include container(unset, flex-end);
}

.zone-b{
    height: 15%;
    border-bottom: $vertical;
}

.zone-b div{
    @include container(unset, unset);
}

.second-row{
    padding-left: 9%;
}

.player{
    @include player;
}

.ten-up,
.ten-down {
    height: 10%;
    border-bottom: $horizontal;
    @include container(space-around, center);
    padding-right: 25%;
}

.ten-down{
    border: none;
}

.zone-c{
    height: 15%;
    border-top: $vertical;
}

.centers {
    @include container(center, unset);
    padding-left: 10%;
}

.outside-center {
    margin-top: 10%;
}

.tt-down{
    height: 15%;
    border-top: $horizontal;
}

.wings{
    @include container(space-between, unset);
}

.fullback{
    @include container(center, unset);
}

.five-yard-down {
    height: 5%;
    border-top: $vertical;
}

.in-goal-area-down{
    height: 10%;
    border-top: $horizontal;
    @include container(center, unset);
}

.posts-down {
    margin-top: -0.1%;
    height: 115%;
    width: 50px;
    border-right: $posts;
    border-left: $posts;
    @include container(unset, center);
}

.vertical-lines{
    z-index: 0;
    height: 680px;
    width: 550px;
    position: absolute;
    @include container(unset, unset);
    flex-direction: row;
}

.five-left{
    width: 8%;
    border-right: $vertical;
}

.fifteen-left{
    width: 16%;
    border-right: $vertical;
}

.mid-pitch{
    width: 55%;
    @include container(center, center);
}

.mid-pitch div {
    height: 10px;
    width: 2px;
    background-color: $color1;
    
}

.fifteen-right {
    width: 16%;
    border-left: $vertical;
}

.five-right {
    width: 8%;
    border-left: $vertical;
}
