@import "../variables";
@import "../_mixin";

// learn how to use scss better
// different screen sizes
// responsiveness

html {
    scroll-behavior: smooth;

    body{
        font-family: $font-family;
        margin: 0px;
        background-color: $BGColor;
        
        .parent{
            @include parent();
            
            #header {
                @include element(space-between);
                margin-bottom: 10px;
                
                .header-left {
                    height: 100px;
                    width: 100px;
                    margin-top: 5px;
    
                }
                
                .header-options {
                    margin-right: 50px;
                    font-size: 30px;
                    font-weight: bolder;
                    margin-top: 5px;
    
                    .link,
                    .link:visited {
                        margin: 0 20px;
                        text-decoration: none;
                        color: $color3;
                    }
                    
                    .link:hover {
                        margin: 0 20px;
                        color: $linkColor;
                    }
                }
            }
            
            
            
            
            // .child{
            //     height: 100px;
            // }
            
            #footer{
                @include element(none);
                margin-top: 10px;
                height: fit-content;
                padding: 20px;
                background-color: $color25;
                display: grid;
                grid-template-columns: 100px auto auto;
                grid-template-rows: auto;
                grid-gap: 20px;
                
                .footer-element{
                    background-color: $color15;
                    .contact-list{
                        display: grid;
                        grid-template-columns: auto auto;
                        margin: 10px;
                        img{
                            height: 30px;
                            width: 30px;
                        }
                    }
                    
                    .footer-router{
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

