.events {
    background-color: green;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
}

.event-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center ;
}

.away-team {
    width: 200px;
    background-color: yellow;
    margin-left: 200px;
}

.home-team {
    width: 200px;
    background-color: yellow;
    margin-right: 200px;
}