@import "../variables";
@import "../_mixin";

// add breaking points

.events {
    background-color: $color2;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
}

.event-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center ;
}

.away-team {
    width: 200px;
    background-color: $color5;
    margin-left: 200px;
    border-radius: 5px;
    color: $color1;
}

.home-team {
    width: 200px;
    background-color: $color5;
    margin-right: 200px;
    border-radius: 5px;
    color: $color1;
}