@import "../_variables";
@import "../_mixin";

.fixtures {
    grid-area: fixtures;
    margin-bottom: 10px;
}

.fixture-container {
    margin: 10px 20px;
    padding: 1.5px;
    font-weight: bold;
    
    .fixture-head {
        margin-bottom: 1.5px;
        background-color: $color4;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
        
        .dropdown-button {
            width: 100px;
            height: 100%;
            padding: 5px;
            background-color: $color6;
            border-radius: 3px;
            border: none;
        }
    }
    
    .fixture-bottom {
        height: 100px;
        background-color: $color1;
        align-items: center;
        justify-items: center;
        display: flex;
        // grid-template-columns: 1fr 1fr 100px 1fr 1fr;
        justify-content: space-evenly;
        
        .fixture-scores {
            width: 70px;
            display: grid;
            grid-template-columns: 1fr 10px 1fr;
            font-weight: 700;
        }
    }
    
    .fixture-moreInfo {
        background-color: $color1;
        border-top: 1px solid;
        
        .progress-bar {
            background-color: $color1;
            color: $color3;
            
            .progress-home {
                background-color: $color6;
                color: $color1;
                display: inline-block;
                // border-top: $color3 solid 1px;
            }
            
            .progress-away {
                background-color: $color2;
                display: inline-block;
                // border-top: solid 1px;
            }
        }

        .fixture-stats {
            @include element(space-around);
            height: fit-content;
            
            .fixture-label {
                width: 100px;
            }
        }

        .fixture-link,
        .fixture-link:visited,
        .fixture-link:hover {
            background-color: $color1;
            border-radius: 2px;
            padding: 0px 50px;
        }
    }
}

.fixture-container:hover {
    .fixture-head {
        background-color: $color45;
        .dropdown-button {
            background-color: $color65;
        }
        .dropdown-button:hover {
            background-color: $color65;
            color: $color1;
            cursor: pointer;
        }
    }
    .fixture-bottom {
        background-color: $color15;
    }
    .fixture-moreInfo {
        background-color: $color15;
        .progress-bar {
            background-color: $color15;
        }
        .fixture-link{
            background-color: $color15;
        }

        .fixture-link:hover {
            background-color: $color65;
            color: $color1;
            cursor: pointer;
        }
    }
}

