.fixtures {
  grid-area: fixtures;
  margin-bottom: 10px;
}

.fixture-container {
  margin: 10px 0px;
  padding: 1.5px;
  font-weight: bold;
}

.fixture-container .fixture-head {
  margin-bottom: 1.5px;
  background-color: #eff6ff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 2fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
}

.fixture-container .fixture-head .dropdown-button {
  width: 100px;
  height: 100%;
  padding: 5px;
  background-color: #beb3f0;
  border-radius: 3px;
  border: none;
}

.fixture-container .fixture-bottom {
  height: 50px;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.fixture-container .fixture-bottom .fixture-scores {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-weight: bolder;
  font-size: large;
}

.fixture-container .fixture-bottom .fixture-scores .fixture-score-home,
.fixture-container .fixture-bottom .fixture-scores .fixture-score-away {
  padding: 5px;
}

.fixture-container .fixture-moreInfo {
  background-color: white;
  border-top: 1px solid;
}

.fixture-container .fixture-moreInfo .progress-bar {
  background-color: white;
  color: black;
}

.fixture-container .fixture-moreInfo .progress-bar .progress-home {
  background-color: #beb3f0;
  color: white;
  display: inline-block;
}

.fixture-container .fixture-moreInfo .progress-bar .progress-away {
  background-color: #d2f7f5;
  display: inline-block;
}

.fixture-container .fixture-moreInfo .fixture-stats {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.fixture-container .fixture-moreInfo .fixture-stats .fixture-label {
  width: 100px;
}

.fixture-container .fixture-moreInfo .fixture-link,
.fixture-container .fixture-moreInfo .fixture-link:visited,
.fixture-container .fixture-moreInfo .fixture-link:hover {
  background-color: white;
  border-radius: 2px;
  padding: 0px 50px;
}

.fixture-container:hover .fixture-head {
  background-color: #dce3ee;
}

.fixture-container:hover .fixture-head .dropdown-button {
  background-color: #b4aae2;
}

.fixture-container:hover .fixture-head .dropdown-button:hover {
  background-color: #b4aae2;
  color: white;
  cursor: pointer;
}

.fixture-container:hover .fixture-bottom {
  background-color: #f7f7f7;
}

.fixture-container:hover .fixture-moreInfo {
  background-color: #f7f7f7;
}

.fixture-container:hover .fixture-moreInfo .progress-bar {
  background-color: #f7f7f7;
}

.fixture-container:hover .fixture-moreInfo .fixture-link {
  background-color: #f7f7f7;
}

.fixture-container:hover .fixture-moreInfo .fixture-link:hover {
  background-color: #b4aae2;
  color: white;
  cursor: pointer;
}
/*# sourceMappingURL=fixtures.css.map */