@import "../variables";
@import "../_mixin";

.competition {
    display: grid;
    width: 100%;
    grid-template-areas: "header header"
                         "table fixtures";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-gap: 20px;
}

.competition-header {
    grid-area: header;
    background-color: $color2;
    border: solid 5px;
    padding: 10px;
    align-items: center;
}

.competition-header-info{
    display: flex;
    justify-content:space-around;
}

.header-name {
    align-self: center;
}

.competition-header-teams{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.competition-header-team-link{
    background-color: $color1;
    border-radius: 5px;
    border: solid 2px;
    margin: 0px 5px;
}

.competition-header-team-link:hover{
    background-color: $color2;
    border: $color2 solid 2px;
    font-weight: bold;
    margin: 0px 5px;
}

.competition-header-team-logo{
    margin-top: 5px;
    max-height: 40px;
}


.tables {
    grid-area: table;
}

.fixtures{
    grid-area: fixtures
}

.table {
    font-weight: 700;
    margin: 20px 0px 20px 20px;
    background-color: $color3;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

tbody {
    margin: 10px;
}

tr {
    margin: 50px;
}

th {
    background-color: $color4;
    color: $color1;
    width: 100px;
    margin: 10px;
}

td {
    text-align: center;
    justify-content: center;
}

.table-team {
    background-color: $color2;
}

.table-team:hover {
    background-color: $color25;
}

.team-link {
    display:block;
    color: $color4;
    margin: 0px;
}

.team-link:hover{
    margin: 0px;
    background-color: $color1;
}

.team-logo {
    max-height: 40px;
    align-items: center;
}

.fixtures{
    grid-area: fixtures;
}