.line-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #eff6ff;
  margin: 10px;
  border: black 5px solid;
  padding-left: 5px;
}

.line-up h1, .line-up h2 {
  text-decoration: underline;
}

.subs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 60px;
}

.subs .sub {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 21px;
  z-index: 2;
  color: white;
  width: fit-content;
  text-align: left;
}

.referees {
  color: white;
}

.pitch {
  width: 550px;
  height: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: green;
  margin: 10px;
}

.horizontal-lines {
  width: 540px;
  height: 840px;
  border: solid 3px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  margin: 5px;
}

.horizontal-lines .crossbar {
  width: 100%;
  border-top: solid #d2f7f5 5px;
}

.horizontal-lines .player {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 21px;
  z-index: 2;
}

.horizontal-lines .number {
  background-color: white;
  border-radius: 2px;
}

.horizontal-lines .in-goal-area-up {
  height: 10%;
  border-bottom: solid 3px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.horizontal-lines .in-goal-area-up .posts-up {
  margin-top: -2%;
  height: 115%;
  width: 10%;
  border-right: solid #d2f7f5 5px;
  border-left: solid #d2f7f5 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.horizontal-lines .five-yard-up {
  height: 5%;
  border-bottom: 3px dashed white;
}

.horizontal-lines .tt-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15%;
  border-bottom: solid 3px white;
}

.horizontal-lines .tt-up .prop {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  margin: 0px 40px;
}

.horizontal-lines .second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 7.5%;
  margin-left: 15%;
}

.horizontal-lines .second-row .lock {
  margin-top: -7%;
}

.horizontal-lines .back-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 7.5%;
  border-bottom: 3px dashed white;
}

.horizontal-lines .back-row .loose {
  margin-top: -7%;
}

.horizontal-lines .ten-up,
.horizontal-lines .ten-down {
  height: 10%;
  border-bottom: solid 3px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 25%;
}

.horizontal-lines .ten-down {
  border: none;
}

.horizontal-lines .zone-c {
  height: 15%;
  border-top: 3px dashed white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  padding-left: 20%;
}

.horizontal-lines .zone-c .outside-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 10px;
  text-align: left;
}

.horizontal-lines .tt-down {
  height: 15%;
  border-top: solid 3px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.horizontal-lines .tt-down .fullback {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.horizontal-lines .five-yard-down {
  height: 5%;
  border-top: 3px dashed white;
}

.horizontal-lines .in-goal-area-down {
  height: 10%;
  border-top: solid 3px white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.horizontal-lines .in-goal-area-down .posts-down {
  margin-top: -0.1%;
  height: 115%;
  width: 10%;
  border-right: solid #d2f7f5 5px;
  border-left: solid #d2f7f5 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical-lines {
  height: 680px;
  width: 550px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.vertical-lines .five-left {
  width: 8%;
  border-right: 3px dashed white;
}

.vertical-lines .fifteen-left {
  width: 16%;
  border-right: 3px dashed white;
}

.vertical-lines .mid-pitch {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical-lines .mid-pitch div {
  height: 10px;
  width: 2px;
  background-color: white;
}

.vertical-lines .fifteen-right {
  width: 16%;
  border-left: 3px dashed white;
}

.vertical-lines .five-right {
  width: 8%;
  border-left: 3px dashed white;
}
/*# sourceMappingURL=lineUp.css.map */