$font-family: 'Open Sans', sans-serif;
$height: 100px;
$color1: white;
$color15: #f7f7f7;
$color2: #d2f7f5;
$color25: #c3e7e6;
$color3: black;
$color4: #eff6ff;
$color45: #dce3ee;
$BGColor: #dfe8ec;
$color6: #beb3f0;
$color65: #b4aae2;
$solid: solid 3px $color1;
$dashed: 3px dashed $color1;
$posts: solid $color2 5px;

$linkColor: #2a49f8;
$mainBGColor: #adadad;
$secondaryBGColor: #ffffff;