@import "./variables";
@import "./_mixin";

body{
    font-family: $font-family;
    margin: 0px;
    background-color: #9DB4C0;
    color:#000000;
    scroll-behavior: smooth;
}

.parent{
    @include parent();
    scroll-behavior: smooth;
}

.child{
    height: 100px;
}

.header{
    @include element(space-between);
    background-image: url("../images/lines.png");
}

.header-left{
    height: 120px;
    width: 120px;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 5px;
}

.header-options{
    margin-top: 10px;
    margin-right: 50px;
    font-size: 30px;
    font-weight: bold;
}

a, a:visited{
    margin: 0 20px;
    text-decoration: none;
    color: black;
}

a:hover{
    margin: 0 20px;
    text-decoration: none;
    color: #004aad;
}

.head-line{
    @include element(center);
}

.head-line-child{
    margin: -5px;
    font-size: 40px;
    font-weight: 800;
}

.line{
    @include element(center);
    display: flex;
    flex-direction: column;
}

.line-child{
    font-size: 25px;
    padding-bottom: 20px;
}

.button{
    @include element(center);
    padding-top: 50px;
}

.button-child{
    @include button(white, rgb(0, 18, 119));
    transition: box-shadow 0.25s;
    cursor: pointer;
}

.button-child:hover {
    @include button(rgb(0, 18, 119), white);
    box-shadow: 0px 0px 20px 0px #FFFFFF;
}


.competitions{
    display: grid;
    place-items: center;
    color:#000000;

}

.competitions-container {
    margin: 20px 20px;
    padding: 30px 30px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 20px;
}

.competitions-link{
    height: 200px;
    width: 200px;
    transition: box-shadow 0.25s;

}

.competitions-link:hover {
    // border: #33ff00 solid 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px #00ff00;
}

.competitions-image {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.competition {
    display: grid;
    width: 100%;
    grid-template-areas: "header header"
                         "table  fixtures";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-gap: 20px;
}

.competition-header{
    grid-area: header;
}

.tables{
    grid-area: table;
}

.table {
    font-weight: 700;
    margin: 20px 0px 20px 20px;
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

tbody {
    margin: 10px;
}

tr {
    margin: 50px;
}

th {
    background-color: #004AAD;
    color: #ffffff;
    width: 100px;
    margin: 10px;
}

td {
    background-color: #F4D35E;
    color: #000000;
    text-align: center;
    width: 100px;
}

.fixtures {
    // background-color: blueviolet;
    grid-area: fixtures;
}

.fixture-container {
    margin: 10px 20px;
    padding: 1.5px;
    background-color: #000000;
}

.fixture-head {
    margin-bottom: 1.5px;
    background-color: #004AAD;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
}

.fixture {
    // grid-area: fixture;
    background-color: #F4D35E;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
}

.fixture-score {
    background-color: #E0FBFC;
    color: #000000;
    font-weight: 700;
    margin: 0px 10px;
    padding: 0px 5px;
}

.fixture-link, .fixture-link:visited {
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 2px;
    margin: 2px 2px;
}

.fixture-link:hover {
    background-color: #004aad;
    color: #ffffff;
    border-radius: 2px;
    margin: 2px 2px;
}

.dropbtn:hover {
    background-color: #2980B9;
}

// .dropdown {
//     position: relative;
//     display: inline-block;
// }

.dropdown-content {
    display: none;
    // position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

#footer{
    @include element(none);
    height: fit-content;
    width: auto;
    padding: 20px;
    background-color: #004AAD;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.footer-element{
    background-color: #E0FBFC;
}