body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  background-color: #004aad;
  scroll-behavior: smooth;
}

.parent {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  scroll-behavior: smooth;
}

.child {
  height: 100px;
}

.header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url("../images/lines.png");
}

.header-left {
  height: 120px;
  width: 120px;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 5px;
}

.header-options {
  margin-top: 10px;
  margin-right: 50px;
  font-size: 30px;
  font-weight: bold;
}

a {
  color: black;
  margin: 0 20px;
  text-decoration: none;
}

a:visited {
  margin: 0 20px;
  text-decoration: none;
  color: black;
}

a:hover {
  margin: 0 20px;
  text-decoration: none;
  color: #004aad;
}

.head-line {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head-line-child {
  margin: -5px;
  font-size: 40px;
  font-weight: 800;
}

.line {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.line-child {
  font-size: 25px;
  padding-bottom: 20px;
}

.button {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

.button-child {
  background: white;
  color: #001277;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  padding: 18px 42px;
  margin-top: -30px;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  cursor: pointer;
}

.button-child:hover {
  background: #001277;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  padding: 18px 42px;
  margin-top: -30px;
  -webkit-box-shadow: 0px 0px 20px 0px #FFFFFF;
          box-shadow: 0px 0px 20px 0px #FFFFFF;
}

.competitions {
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #FFFFFF;
}

.competitions-container {
  margin: 20px 20px;
  padding: 30px 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
  grid-gap: 20px;
}

.competitions-link {
  height: 200px;
  width: 200px;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.competitions-link:hover {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 10px #00ff00;
          box-shadow: 0px 0px 20px 10px #00ff00;
}

.competitions-image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.competition {
  text-align: center;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'header header' 'table fixtures' 'table fixtures';
  grid-gap: 20px;
}

.tables {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: table;
}

.table {
  margin: 20px 0px 20px 20px;
  background-color: #004aad;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

tbody {
  margin: 10px;
}

tr {
  margin: 50px;
}

th {
  background-color: #272727;
  color: #ffffff;
  margin: 10px;
}

td {
  background-color: #555555;
  color: #000000;
  text-align: center;
}

.fixtures {
  background-color: blueviolet;
}

#footer {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: auto;
  padding: 20px;
  background-color: #1b1b1b;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 20px;
}

.footer-element {
  background-color: #555555;
}
/*# sourceMappingURL=main.css.map */