@import "./variables";
@import "./_mixin";

// learn how to use scss better
// different screen sizes
// responsiveness

body{
    font-family: $font-family;
    margin: 0px;
    background-color: #9DB4C0;
    color:#000000;
    scroll-behavior: smooth;
}

.parent{
    @include parent();
    scroll-behavior: smooth;
}

.child{
    height: 100px;
}

#footer{
    @include element(none);
    margin-top: 10px;
    height: fit-content;
    width: auto;
    padding: 20px;
    background-color: #004AAD;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.footer-element{
    background-color: #E0FBFC;
}