body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  background-color: #9DB4C0;
  color: #000000;
  scroll-behavior: smooth;
}

.parent {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  scroll-behavior: smooth;
}

.child {
  height: 100px;
}

.header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url("../images/lines.png");
}

.header-left {
  height: 120px;
  width: 120px;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 5px;
}

.header-options {
  margin-top: 10px;
  margin-right: 50px;
  font-size: 30px;
  font-weight: bold;
}

a, a:visited {
  margin: 0 20px;
  text-decoration: none;
  color: black;
}

a:hover {
  margin: 0 20px;
  text-decoration: none;
  color: #004aad;
}

.head-line {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head-line-child {
  margin: -5px;
  font-size: 40px;
  font-weight: 800;
}

.line {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.line-child {
  font-size: 25px;
  padding-bottom: 20px;
}

.button {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

.button-child {
  background: white;
  color: #001277;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  padding: 18px 42px;
  margin-top: -30px;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  cursor: pointer;
}

.button-child:hover {
  background: #001277;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  padding: 18px 42px;
  margin-top: -30px;
  -webkit-box-shadow: 0px 0px 20px 0px #FFFFFF;
          box-shadow: 0px 0px 20px 0px #FFFFFF;
}

.competitions {
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: #000000;
}

.competitions-container {
  margin: 20px 20px;
  padding: 30px 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  -ms-grid-rows: auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto;
  grid-gap: 20px;
}

.competitions-link {
  height: 200px;
  width: 200px;
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.competitions-link:hover {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 10px #00ff00;
          box-shadow: 0px 0px 20px 10px #00ff00;
}

.competitions-image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.competition {
  display: -ms-grid;
  display: grid;
  width: 100%;
      grid-template-areas: "header header" "table  fixtures";
  -ms-grid-rows: 30px 1fr;
      grid-template-rows: 30px 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-gap: 20px;
}

.competition-header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.tables {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: table;
}

.table {
  font-weight: 700;
  margin: 20px 0px 20px 20px;
  background-color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

tbody {
  margin: 10px;
}

tr {
  margin: 50px;
}

th {
  background-color: #004AAD;
  color: #ffffff;
  width: 100px;
  margin: 10px;
}

td {
  background-color: #F4D35E;
  color: #000000;
  text-align: center;
  width: 100px;
}

.fixtures {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fixtures;
}

.fixture-container {
  margin: 10px 20px;
  padding: 1.5px;
  background-color: #000000;
}

.fixture-head {
  margin-bottom: 1.5px;
  background-color: #004AAD;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fixture {
  background-color: #F4D35E;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fixture-score-home,
.fixture-score-away {
  font-weight: 700;
  margin: 0px 5px;
  padding: 0px 5px;
}

.fixture-link,
.fixture-link:visited,
.fixture-link:hover {
  background-color: #ffffff;
  border-radius: 2px;
  padding: 0px 50px;
}

.fixture-link:hover {
  background-color: #9DB4C0;
  color: #000000;
}

.dropdown-button,
.dropdown-button:hover {
  width: 100px;
  height: 100%;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 3px;
  border: none;
}

.dropdown-button:hover {
  background-color: #004aad;
  color: #FFFFFF;
}

.fixture-moreInfo {
  background-color: #9DB4C0;
}

.fixture-moreInfo div {
  border-bottom: #000000 solid 1px;
}

.progress-bar {
  background-color: #E0FBFC;
  color: #000000;
  border-top: #000000 solid 1px;
}

.progress-home {
  background-color: #004aad;
  color: #ffffff;
  display: inline-block;
  border-top: #000000 solid 1px;
}

.progress-away {
  background-color: #F4D35E;
  color: #000000;
  display: inline-block;
  border-top: #000000 solid 1px;
}

.fixture-stats {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.fixture-label {
  width: 100px;
}

#footer {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: auto;
  padding: 20px;
  background-color: #004AAD;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 20px;
}

.footer-element {
  background-color: #E0FBFC;
}
/*# sourceMappingURL=main.css.map */